$hover-color: rgb(125, 210, 211);

* {
  box-sizing: border-box;
}
// html {
//   min-height: 100%;
// }

body {
  display: flex;
  width: 100%;
  min-height: 100vh;
  font-family: "Lato", sans-serif;
  // margin: 40px;
  margin: 0;
}

#for-seller {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(3, 91, 105);

  position: relative;
  &::before {
    content: "";
    background-image: url("./../../images/products1.png");
    background-size: cover;
    background-position: 20% 50%;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.6;
  }

  p {
    font-size: 26px;
    text-align: center;
    padding: 0 70px;
    margin: 0;

    position: relative;
  }

  h1 {
    position: relative;
    letter-spacing: 2px;

  }

  button {
    margin: 50px;
    width: 150px;
    height: 40px;
    background-color: transparent;
    border: 1px solid rgb(3, 91, 105);
    text-transform: uppercase;
    color: rgb(3, 91, 105);
    font-weight: bold;
    position: relative;
    &:hover {
      box-shadow: 0px 0px 3px 1px;
      cursor: pointer;

    }
  }
}
#sign-in-container {
  width: 50%;
  //  height: 80%;
// background-image: linear-gradient(to rigt , rgb(255, 238, 238) , rgb(228, 250, 250));
  background-color: rgb(228, 250, 250);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .logo-img {
    width: 300px;
    margin-top: 70px;
  }

  // h1 {
  //   margin-bottom: 50px;
  //   // margin-top: 6px;
  //   letter-spacing: 2px;
  // }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 60%;

   

    .border-color {
      border: 2px solid rgb(76, 173, 99);
    }

    label {
      margin-bottom: 5px;
      width: 60%;
      opacity: 0.7;
    }

    input {
      border: 1px solid #ddd;
      width: 60%;
      padding: 10px;
      font-size: 16px;
      outline: none;
    }
    #validation-message {
      display: flex;
      align-items: center;
      width: 60%;
      margin-bottom: 10px;

      .fas {
        color: rgb(76, 173, 99);
        margin-top: 5px;
      }
      p {
        color: rgb(76, 173, 99);
        margin: 5px;
      }
    }
    .visibility-of-message {
      visibility: hidden;
    }

    .password-container {
      display: flex;
      align-items: center;
      border: 1px solid #ddd;
      // width: 40%;
      width: 60%;
      background-color: white;

      input {
        border: 0;
        width: 100%;
        outline: none;
        color: #333;
        font-size: 16px;
        padding: 9px;
      }

      i {
        margin: 0 10px;
        color: #aaa;
        cursor: default;
      }

      
    }

    #error-message-password {
      color: rgb(76, 173, 99);
      width: 50%;
      text-align: center;

    }

    .error-visibility-hidden {
      visibility: hidden;
      color: rgb(76, 173, 99);
    }

 

    .sign-in-btn {
      width: 60%;
      // margin-top: 30px;
      padding: 10px;
      background-color: rgb(76, 173, 99);
      border: 0;
      outline: none;
      text-transform: uppercase;
      color: white;
      &:hover {
        cursor: pointer;

      }
    }

    .a-link {
      margin-top: 30px;
      color:  rgb(76, 173, 99);
    }
  }
}

