* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 100vh;
  font-family: "Lato", sans-serif;
  margin: 0;
}

#for-seller {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #035b69;
  position: relative;
}

#for-seller::before {
  content: "";
  background-image: url("./../../images/products1.png");
  background-size: cover;
  background-position: 20% 50%;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.6;
}

#for-seller p {
  font-size: 26px;
  text-align: center;
  padding: 0 70px;
  margin: 0;
  position: relative;
}

#for-seller h1 {
  position: relative;
  letter-spacing: 2px;
}

#for-seller button {
  margin: 50px;
  width: 150px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #035b69;
  text-transform: uppercase;
  color: #035b69;
  font-weight: bold;
  position: relative;
}

#for-seller button:hover {
  -webkit-box-shadow: 0px 0px 3px 1px;
          box-shadow: 0px 0px 3px 1px;
  cursor: pointer;
}

#sign-in-container {
  width: 50%;
  background-color: #e4fafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#sign-in-container .logo-img {
  width: 300px;
  margin-top: 70px;
}

#sign-in-container h1 {
  margin-bottom: 50px;
  letter-spacing: 2px;
}

#sign-in-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75%;
  height: 60%;
}

#sign-in-container form .border-color {
  border: 2px solid #4cad63;
}

#sign-in-container form label {
  margin-bottom: 5px;
  width: 60%;
}

#sign-in-container form input {
  border: 1px solid #ddd;
  width: 60%;
  padding: 10px;
  font-size: 16px;
  outline: none;
}

#sign-in-container form #validation-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  margin-bottom: 10px;
}

#sign-in-container form #validation-message .fas {
  color: #4cad63;
  margin-top: 5px;
}

#sign-in-container form #validation-message p {
  color: #4cad63;
  margin: 5px;
}

#sign-in-container form .visibility-of-message {
  visibility: hidden;
}

#sign-in-container form .password-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #ddd;
  width: 60%;
  background-color: white;
}

#sign-in-container form .password-container input {
  border: 0;
  width: 100%;
  outline: none;
  color: #333;
  font-size: 16px;
  padding: 9px;
}

#sign-in-container form .password-container i {
  margin: 0 10px;
  color: #aaa;
  cursor: default;
}

#sign-in-container form .sign-in-btn {
  width: 60%;
  margin-top: 30px;
  padding: 10px;
  background-color: #4cad63;
  border: 0;
  outline: none;
  text-transform: uppercase;
  color: white;
}

#sign-in-container form .sign-in-btn:hover {
  cursor: pointer;
}

#sign-in-container form .a-link {
  margin-top: 30px;
  color: #4cad63;
}
/*# sourceMappingURL=login-page.css.map */