$primary-color: rgb(239, 246, 246);
$details-color: rgb(255, 181, 198);
$header-footer-color: white;
$text-color: black;
$hover-color: rgb(125, 210, 211);
// $authentication-button-color: rgb(255, 181, 198);
$authentication-details-color: #4cad63;
$for-sellers-info-color: rgb(3, 91, 105);
$authetication-container-background-color: rgb(228, 250, 250);
$error-message-color: rgb(255, 0, 0);
$search-input-color: #9dbfaf;
$search-input-focus-color: #00b4cc;


