
@import 'product-container-styles.scss';
@import 'colors.scss';
@import 'navbar.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $primary-color;
    font-family: "Lato", sans-serif;
    margin: 0 auto;
    height: 100vh;

    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
    }

    .slider {
        width: 100%;
        height: 500px;
        border-radius: 10px;
        overflow: hidden;

        @media screen and (max-width: 768px) {
            height: 350px;
        }
        @media screen and (max-width: 600px) {
            height: 200px;
        }
        @media screen and (max-width: 375px) {
            height: 180px;
        }
    }

    .slides {
        width: 500%;
        height: 500px;
        display: flex;

        @media screen and (max-width: 768px) {
            height: 350px;
        }
        @media screen and (max-width: 600px) {
            height: 200px;
        }
        @media screen and (max-width: 375px) {
            height: 180px;
        }
    }

    .slides input {
        display: none;
    }

    .slide {
        width: 20%;
        transition: 2s;
        position: relative;
    }

    .text {
        position: absolute;
        z-index: 2;
        letter-spacing: 10px;
        opacity: 0.7;
    }

    .sales {
        top: 30%;
        left: 20%;
        font-size: 55px;
        @media screen and (max-width: 768px) {
            font-size: 20px;
        }
    }

    .shipping {
        top: 30%;
        left: 20%;
        font-size: 75px;

        @media screen and (max-width: 768px) {
            font-size: 22px;
        }
    }

    .slide img {
        width: 100%;
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto auto;
        height: 100%;
        object-fit: cover;        
    }

    .navigation-manual {
        position: absolute;
        width: 100%;
        margin-top: -40px;
        display: flex;
        justify-content: center;
    }

    .manual-btn {
        border: 2px solid $hover-color;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
    }

    .manual-btn:not(:last-child) {
        margin-right: 40px;
    }

    .manual-btn:hover {
        background: $hover-color;
    }

    #radio1:checked ~ .first {
        margin-left: 0;
    }

    #radio2:checked ~ .first {
        margin-left: -20%;
    }

    #radio3:checked ~ .first {
        margin-left: -40%;
    }

    #radio4:checked ~ .first {
        margin-left: -60%;
    }

    .navigation-auto {
        position: absolute;
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 460px;
    }

    .navigation-auto div {
        border: 2px solid $hover-color;
        padding: 5px;
        border-radius: 10px;
        transition: 1s;
    }

    .navigation-auto div:not(:last-child) {
        margin-right: 40px;
    }

    #radio1:checked ~ .navigation-auto .auto-btn1 {
        background: $hover-color;
    }

    #radio2:checked ~ .navigation-auto .auto-btn2 {
        background: $hover-color;
    }

    #radio3:checked ~ .navigation-auto .auto-btn3 {
        background: $hover-color;
    }

    #radio4:checked ~ .navigation-auto .auto-btn4 {
        background: $hover-color;
    }
    @media screen and (max-width: 768px) {
        font-size: 14px;
    }
}