@import "product-container-styles.scss";
@import "colors.scss";
@import "navbar.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    // max-height: 1000000px;
    // height: 100%;
    min-width: 320px;
}
body {
    background-color: $primary-color;
    font-family: "Lato", sans-serif;
    margin: 0 auto;
    height: 100%;

    main {
        width: 100%;
        display: flex;

        .filter {
            width: 25%;

            .filter-by-brand-container {
                line-height: 1.5;
                padding: 30px;
                height: 300px;
                background-color: white;
                margin: 30px;

                p {
                    margin-bottom: 10px;
                }
            }
            .filter-by-product-name-container {
                line-height: 1.5;
                padding: 30px;
                height: 300px;
                background-color: white;
                margin: 30px;
                overflow: scroll;

                p {
                    margin-bottom: 10px;
                }
            }
            form {
                label {
                    margin: 5px;
                }
            }
        }

        .main-container {
            display: flex;
            flex-direction: column;
            width: 75%;

            .products-catalog-manipulate {
                height: 10vh;
                display: flex;
                align-items: center;
                justify-content: space-around;

                label {
                    margin-right: 10px;
                }

                select {
                    width: 135px;
                    outline: none;
                    border: none;
                    height: 30px;
                    padding-left: 5px;
                }
            }

            .products-catalog {
                .product-container {
                    width: calc(33.33% - 2px);
                    height: 506px;
                }
            }
        }
    }
}
