// $primary-color: rgb(239, 246, 246);
// $details-color: rgb(255, 181, 198);
// $header-footer-color: white;
// $text-color: black;
// $hover-color: rgb(125, 210, 211);

@import "colors.scss";

.products-catalog {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    .product-container {
        width: calc(25% - 2px);
        background-color: white;
        padding: 30px;
        margin: 1px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid $primary-color;
        cursor: pointer;
        .img-container {
            position: relative;
            width: 100%;
            height: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                position: relative;
                width: 100%;
                height: 300px;
                @media screen and (max-width: 768px) {
                    height: auto;
                  }
        
            }
            @media screen and (max-width: 768px) {
                height: auto;
                width: 30%;
              }

        }
        .main-info-container {
            display: flex;
            flex-direction: column;
            line-height: 24px;
            .name {
                margin-top: 30px;
                letter-spacing: 0.32px;
                font-weight: 200;
                &:hover {
                    color: $hover-color;
                }
                @media screen and (max-width: 768px) {
margin-top: 0px;                  }

            }

            .price-container {
                display: flex;
                align-items: center;
                .price {
                    display: flex;
                    align-items: baseline;
                    width: 100%;
                    padding: 20px 0;
                    font-size: 19px;
                    color: black;

                    @media screen and (max-width: 768px) {
                        padding: 5px;
                      }
    
                }
                .wish-list-btn {
                    color: $details-color;
                    font-size: 24px;
                    &:hover {
                        color: $hover-color;
                    }
                }
            }
        }
        @media screen and (max-width: 768px) {
            width: 100vw;
            flex-direction: row;
            justify-content: space-between;
            padding: 10px;
        }
    }
}

.product-container:hover {
    box-shadow: 0px 0px 10px 1px $hover-color;
    color: $hover-color;
}
