
@import 'colors.scss';
@import 'navbar.scss';
@import 'product-container-styles.scss';
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  // max-height: 1000000px;
  height: 100%;
}
body {
  background-color: $primary-color;
  font-family: "Lato", sans-serif;
  margin: 0 auto;
  height: 100vh;

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  main {
    background-color: $primary-color;

    .main-product-details {
      margin: 30px 0 0 0;
      display: flex;
      .left-product-info-container {
        width: 50vw;

        .slider-container {
          height: 675px;
          width: 50vw;
          display: inline-block;
          position: relative;
  
          .my-slides {
            display: none;
            width: 100%;
          }
  
          img {
            max-width: 100%;
          }
  
          button {
            position: absolute;
            top: 40%;
            z-index: 999;
            display: block;
            padding: 4% 3%;
            width: auto;
            height: auto;
            background: white;
            color: gray;
            border: none;
            text-decoration: none;
            font-weight: 600;
            font-size: 18px;
            opacity: 0.8;
            cursor: pointer;
            outline: none;
            &:hover {
              opacity: 1;
              transition: all 0.2s ease;
            }
          }
          .control-prev {
            border-radius: 0 2px 2px 0;
          }
          .control-next {
            right: 0;
            border-radius: 2px 0 0 2px;
          }
          @media screen and (max-width: 768px) {
            width: 100vw;
            height: 30%;
          }

        }
        .stickyContainer {
          position: fixed;
          top: 40px;
          }
          
          .product-characteristics {
            margin-top: 120px;
            padding-left: 50px;
            padding-right: 50px;
    

            .product-characteristics-header {
              font-size: 32px;
            }
            .info-header {
              opacity: 0.4;
              margin: 20px 0 5px 0;
            }

            .ingredients {
              // width: 100%;
              letter-spacing: 0.16px;
              line-height: 22px;
    
            }
            @media screen and (max-width: 768px) {
              margin-top: 30px;
              padding: 0 20px 0 20px;
            }
  
          }
          @media screen and (max-width: 768px) {
            width: 100vw;
          }


      }

      .right-product-info-container {
        width: 50vw;
        padding-left: 50px;
        padding-right: 50px;
        display: flex;
        flex-direction: column;

        .send-to-favorites {
          display: flex;
          justify-content: flex-end;

          .fa-heart {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 22px;
            color: rgb(214, 214, 214);

            &:hover {
              color: $details-color;
              cursor: pointer;
            }
          }
        }
        .product-name {
          font-size: 26px;
          padding-top: 30px;
          letter-spacing: 2px;
        }

        .price-container {
          margin-top: 50px;
          .price {
            font-size: 36px;
          }
        }
        .counter-products-block {
          display: flex;
          align-items: flex-start;
          margin-top: 25px;

          .counter {
            width: 110px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: white;
            color: black;
            opacity: 0.7;

            .quantity {
              width: 50px;
              border: 0;
              line-height: 30px;
              font-size: 20px;
              text-align: center;
              appearance: none;
              outline: 0;
            }

            .down,
            .up {
              display: block;
              font-size: 25px;
              padding: 0 10px;
              cursor: pointer;
              user-select: none;
            }
          }
          .add-to-bag {
            width: 280px;
            height: 60px;
            background-color: rgb(255, 181, 198);
            border: none;
            cursor: pointer;
            font-size: 20px;

            .fa-cart-arrow-down {
              font-size: 26px;
              margin-left: 10px;
              opacity: 0.8;
            }

            &:hover {
              color: white;
              transition: 0.2s ease;
            }
          }
        }
        .delivery-details {
          margin-top: 30px;
          line-height: 1.6;
          font-size: 14px;
        }

        .contact-container {
          display: flex;
          margin-top: 50px;

          .contact-nmb {
            display: flex;
            flex-direction: column;
            :first-child {
              font-size: 18px;
              opacity: 0.4;
            }
            :nth-child(2) {
              font-size: 26px;
              margin-top: 20px;
              opacity: 0.8;
            }
          }
          .share-social-media {
            margin-left: 200px;

            > p {
              font-size: 16px;
              opacity: 0.4;
            }
            .social-media-icons {
              font-size: 36px;
              display: flex;
              justify-content: space-between;
              margin-top: 20px;

              i {
                &:hover {
                  cursor: pointer;
                  border-radius: 50%;
                  box-shadow: 0 0 3px 3px $hover-color;
                }
              }
              .telegram,
              .facebook,
              .twitter {
                display: flex;
                justify-content: center;
                align-items: center;
              }
              .telegram {
                color: rgb(0, 147, 202);
              }
              .facebook {
                color: rgb(59, 83, 154);
              }
              .twitter {
                color: rgb(24, 191, 242);
              }
            }
          }
        }

        .product-description-header {
          font-size: 32px;
          margin: 20px 0;
        }
        .product-description {
          width: 100%;
          letter-spacing: 0.16px;
          line-height: 22px;



        }

      }
      @media screen and (max-width: 768px) {
        flex-direction: column;
      }
    }
    .similar-products {
      text-align: center;
      margin-top: 100px;
      font-size: 32px;
      letter-spacing: 0.16px;

    }
    .products-catalog {
      padding: 50px;
      
    }
  }
}
