@import "colors.scss";

.products-catalog {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    .product-container {
        width: calc(25% - 2px);
        background-color: white;
        padding: 30px;
        margin: 1px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid $primary-color;
        cursor: pointer;
        .img-container {
            position: relative;
            width: 100%;
            height: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                position: relative;
                width: 100%;
                height: 300px;
                @media screen and (max-width: 768px) {
                    height: auto;
                }
            }
            @media screen and (max-width: 768px) {
                height: auto;
                width: 30%;
            }
            // .favButton {
            //     display: none;
            // }
            .favButton {
                position: absolute;
                top: 0;
                right: 0;
                display: none;
                // z-index: 3;
                // visibility: hidden;

                .fa-heart {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background-color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 22px;
                    color: rgb(214, 214, 214);
                    &:hover {
                        color: $details-color;
                        transition: all 0.4s ease;
                      }
          
                }
            }
        }
        .main-info-container {
            display: flex;
            flex-direction: column;
            line-height: 24px;
            .name {
                margin-top: 30px;
                letter-spacing: 0.32px;
                font-weight: 200;
                &:hover {
                    color: $hover-color;
                }
                @media screen and (max-width: 768px) {
                    margin-top: 0px;
                }
            }

            .price-container {
                display: flex;
                align-items: center;
                .price {
                    display: flex;
                    align-items: baseline;
                    width: 100%;
                    padding: 20px 0;
                    font-size: 19px;
                    color: black;

                    @media screen and (max-width: 768px) {
                        padding: 5px;
                    }
                }
                .wish-list-btn {
                    color: $details-color;
                    font-size: 24px;
                    &:hover {
                        color: $hover-color;
                    }
                }
            }
            @media screen and (max-width: 768px) {
                width: 65%;
                height: 70%;
                justify-content: space-between;
                padding-right: 15px;
            }
        }
        @media screen and (min-width: 1200px) {
            width: calc(20% - 2px);
            padding: 15px;
        }
        @media screen and (max-width: 1200px) {
            width: calc(33.33% - 2px);
            padding: 15px;
        }
        @media screen and (max-width: 768px) {
            width: 100vw;
            flex-direction: row;
            justify-content: space-between;
            padding: 10px;
        }
        &:hover {
            box-shadow: 0px 0px 10px 1px $hover-color;
            color: $hover-color;
            transition: 0.2s ease;


            .favButton {
                transition: 0.2s ease;
                display: block;

            }
        }
    }
}

// .product-container:hover {
//     box-shadow: 0px 0px 10px 1px $hover-color;
//     color: $hover-color;
//     // .send-to-favorites {
//     //     display: block;
//     // }
// }
// .product-container:hover  .send-to-favorites {
//     display: block;
//     // visibility: visible;
// }
