@import "colors.scss";

* {
  box-sizing: border-box;
}

body {
  display: flex;
  width: 100%;
  min-height: 100vh;
  font-family: "Lato", sans-serif;
  margin: 0;

  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column-reverse;
  }

  #for-seller {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(3, 91, 105);
    position: relative;

    &::before {
      content: "";
      background-image: url("../assets/images/products1.png");
      background-size: cover;
      background-position: 20% 50%;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.6;
    }

    p {
      font-size: 26px;
      text-align: center;
      padding: 0 70px;
      margin: 0;
      position: relative;

      @media screen and (max-width: 768px) {
        font-size: 18px;
      }
    }

    h1 {
      position: relative;
      letter-spacing: 2px;
      text-align: center;

      @media screen and (max-width: 768px) {
        font-size: 24px;
      }
    }

    button {
      margin: 50px;
      width: 150px;
      height: 40px;
      background-color: transparent;
      border: 1px solid rgb(3, 91, 105);
      text-transform: uppercase;
      color: rgb(3, 91, 105);
      font-weight: bold;
      position: relative;
      outline: none;
      &:hover {
        box-shadow: 0px 0px 3px 1px;
        cursor: pointer;
      }
    }
    @media screen and (max-width: 768px) {
      width: 100%;
      height: 30vh;
    }
  }

  #sign-up-container {
    width: 60%;
    background-color: rgb(228, 250, 250);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .logo-img {
      width: 40%;
      // margin-top: 20px;

      @media screen and (max-width: 768px) {
        margin: 0 0 15px 0;
        width: 35%;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 90%;
      height: 60%;

      > :first-child,
      > :nth-child(3) {
        padding-bottom: 32px;

        // @media screen and (max-width: 600px) {
        //   padding-bottom: 0;
        // }
      }

      .data-container {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .label-input-data {
          display: flex;
          flex-direction: column;
          width: 47%;

          @media screen and (max-width: 600px) {
            width: 70%;
            padding-bottom: 32px;
          }
        }

        .password {
          @media screen and (max-width: 600px) {
            padding-bottom: 0px;
          }
        }

        .email {
          @media screen and (max-width: 600px) {
            padding-bottom: 13px;
          }
        }

        @media screen and (max-width: 600px) {
          flex-direction: column;
          align-items: center;
          padding: 0;
        }
      }

      .border-color {
        border: 2px solid rgb(76, 173, 99);
      }

      label {
        margin-bottom: 5px;
        width: 100%;
        opacity: 0.7;
      }

      input {
        border: 1px solid #ddd;
        width: 100%;
        padding: 10px;
        font-size: 16px;
        outline: none;
      }
      #validation-message {
        display: flex;
        align-items: center;
        width: 100%;
        // margin-bottom: 10px;
        font-size: 14px;

        .fas {
          color: rgb(76, 173, 99);
          margin-top: 5px;
        }
        p {
          color: rgb(76, 173, 99);
          margin: 5px;

          @media screen and (max-width: 768px) {
            margin: 0;
            // font-size: 12px;
          }
        }
      }
      .visibility-of-message {
        visibility: hidden;
      }

      .password-container {
        display: flex;
        align-items: center;
        border: 1px solid #ddd;
        width: 100%;
        background-color: white;

        input {
          border: 0;
          width: 100%;
          outline: none;
          color: #333;
          font-size: 16px;
          padding: 9px;
        }

        i {
          margin: 0 10px;
          color: #aaa;
          cursor: pointer;
        }
      }

      #error-message-password {
        color: rgb(76, 173, 99);
        text-align: center;
        margin: 0;
        font-size: 14px;

        @media screen and (max-width: 768px) {
        }
      }

      .error-visibility-hidden {
        visibility: hidden;
        color: rgb(76, 173, 99);
      }

      .sign-up-btn {
        width: 50%;
        padding: 10px;
        margin-top: 20px;
        background-color: rgb(76, 173, 99);
        border: 0;
        outline: none;
        text-transform: uppercase;
        color: white;
        &:hover {
          cursor: pointer;
        }
        // @media screen and (max-width: 768px) {
        //   margin: 0;
        // }
      }

      .a-link {
        margin-top: 30px;
        color: rgb(76, 173, 99);

        @media screen and (max-width: 768px) {
          margin-top: 10px;
          font-size: 14px;
        }
      }
      @media screen and (max-width: 768px) {
        width: 100%;
        height: 80%;
      }
    }

    @media screen and (max-width: 768px) {
      width: 100%;
      height: 70vh;
      padding: 20px;
    }
    @media screen and (max-width: 600px) {
      height: auto;
    }
  }
}
